:host {
  .password-reset-request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .password-reset-request-card {
      width: 440px;
      padding: 2rem;
    }
  }
}
