<div class="confirmation-email-request-container">
	<p-messages [escape]="false"></p-messages>
	<p-card class="confirmation-email-request-card">
		<ng-template pTemplate="content">
			<div style="text-align: center">
				<i class="pi pi-send"></i>
				<h4>Request new confirmation email link</h4>
			</div>
			<div style="text-align: center">
				<form [formGroup]="confirmationEmailRequestForm" (ngSubmit)="onSubmit()">
					<input
						style="height: 2.5rem; width: 100%"
						placeholder="Email"
						type="email"
						pInputText
						formControlName="email" />
					<p-button
						[style]="{
              marginTop: '1.5rem',
              marginBottom: '1rem',
              backgroundColor: '#0F172A',
              color: '#fff',
              width: '100%',
            }"
						type="submit"
						size="small"
						label="Send"
						iconPos="right"
						[text]="true"
						[loading]="processingconfirmationEmailRequest"
						[disabled]="!confirmationEmailRequestForm.valid">
						<ng-template pTemplate="icon">
							<i class="pi pi-arrow-right"></i>
						</ng-template>
					</p-button>
				</form>
			</div>
		</ng-template>
		<ng-template pTemplate="footer">
			<div style="text-align: center">
				<p style="font-size: small">
					Go back to
					<a routerLink="/auth/login" style="text-decoration: none">Login page</a>
				</p>
			</div>
		</ng-template>
	</p-card>
</div>
