<div class="password-reset-container">
	<p-messages [escape]="false"></p-messages>
	<p-card class="password-reset-card">
		<ng-template pTemplate="content">
			<div style="text-align: center">
				<i class="pi pi-key"></i>
				<h4>Reset your password</h4>
			</div>
			<div>
				<form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
					<div>
						<input
							style="height: 2.5rem; width: 100%"
							placeholder="Email"
							type="email"
							pInputText
							formControlName="email"
							aria-describedby="email-help"
							[ngClass]="{
								'ng-invalid ng-dirty':
									email?.invalid && (email?.dirty || email?.touched)
							}" />
						<div
							*ngIf="email?.invalid && (email?.dirty || email?.touched)"
							class="alert alert-danger">
							<small
								*ngIf="email?.errors?.['required']"
								id="email-help"
								class="p-error"
								>Email is required.</small
							>
							<small *ngIf="email?.errors?.['email']" id="email-help" class="p-error"
								>Email is invalid.</small
							>
						</div>
					</div>
					<div>
						<p-password
							[style]="{ marginTop: '1rem', height: '2.5rem', width: '100%' }"
							[inputStyle]="{ width: '100%' }"
							placeholder="New password"
							formControlName="password"
							aria-describedby="password-help"
							[toggleMask]="true"
							[feedback]="true"
							[ngClass]="{
								'ng-invalid ng-dirty':
									password?.invalid && (password?.dirty || password?.touched)
							}">
							<ng-template pTemplate="header">
								<h5>Pick a password</h5>
							</ng-template>
							<ng-template pTemplate="footer">
								<p-divider></p-divider>
								<p class="mt-2">Requirements:</p>
								<ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
									<li>At least one lowercase</li>
									<li>At least one uppercase</li>
									<li>At least one numeric</li>
									<li>At least one special character</li>
									<li>Minimum 8 characters</li>
								</ul>
							</ng-template>
						</p-password>
						<div
							*ngIf="password?.invalid && (password?.dirty || password?.touched)"
							class="alert alert-danger">
							<small
								*ngIf="password?.errors?.['required']"
								id="password-help"
								class="p-error"
								>Password is required.</small
							>
							<small
								*ngIf="password?.errors?.['minlength']"
								id="password-help"
								class="p-error"
								>Password must be at least 8 characters.</small
							>
							<small
								*ngIf="password?.errors?.['passwordStrength']"
								id="password-help"
								class="p-error"
								>Password is not strong enough. Verify if it meets the
								requirements.</small
							>
						</div>
					</div>
					<div>
						<p-password
							[style]="{ marginTop: '1rem', height: '2.5rem', width: '100%' }"
							[inputStyle]="{ width: '100%' }"
							placeholder="Confirm new password"
							formControlName="passwordConfirm"
							aria-describedby="passwordConfirm-help"
							[toggleMask]="true"
							[feedback]="false"
							[ngStyle]="{
								'ng-invalid ng-dirty':
									passwordConfirm?.invalid &&
									(passwordConfirm?.dirty || passwordConfirm?.touched)
							}">
						</p-password>
						<div
							*ngIf="
								passwordConfirm?.invalid &&
								(passwordConfirm?.dirty || passwordConfirm?.touched)
							"
							class="alert alert-danger">
							<small
								*ngIf="passwordConfirm?.errors?.['required']"
								id="passwordConfirm-help"
								class="p-error"
								>Password confirmation is required.</small
							>
							<small
								*ngIf="passwordConfirm?.errors?.['passwordMatch']"
								id="passwordConfirm-help"
								class="p-error"
								>Passwords do not match.</small
							>
						</div>
					</div>
					<p-button
						[style]="{
							marginTop: '1.5rem',
							marginBottom: '1rem',
							backgroundColor: '#0F172A',
							color: '#fff',
							width: '100%',
						}"
						type="submit"
						size="small"
						label="Reset password"
						iconPos="right"
						[text]="true"
						[disabled]="passwordResetForm.invalid"
						[loading]="processingPasswordResetRequest">
						<ng-template pTemplate="icon">
							<i class="pi pi-arrow-right"></i>
						</ng-template>
					</p-button>
				</form>
			</div>
		</ng-template>
		<ng-template pTemplate="footer">
			<div style="text-align: center">
				<p style="font-size: small">
					Go back to
					<a routerLink="/auth/login" style="text-decoration: none">Login page</a>
				</p>
			</div>
		</ng-template>
	</p-card>
</div>
